/bin/
/data/
/generals-server
/coverage.out
.env
*.log
*.test
*.exe
/tls/
/admin-token
/web/.heroui/
/web/node_modules/
/web/dist/
/internal/app/adminui/dist/
/internal/app/publicui/dist/
**/.terraform/*
*.tfplan
*.tfstate
*.tfstate.*
*.tfvars
*.auto.tfvars
!*.tfvars.example
